@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">¡Página Principal de Los Simpsons!</h1>
    <p>
        Empezemos por el <a asp-controller="Personaje" asp-action="ReadAll">Listado de Personajes</a>
    </p>
</div>
